<div class="container main-container" >
    <!--Card-->
    <mat-card>
        <ng-template ngbModalContainer></ng-template>
        <mat-card-content>

            <div class="example-header">
                <mat-form-field>
                    <mat-icon matPrefix class="search-icon">search</mat-icon>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
                <button mat-mini-fab matTooltip="Add user" color="primary" class="floating-fab" (click)="addNew()"><mat-icon>add</mat-icon></button>
            </div>

            <div class="container Custom-table-width">                        
                <div class="example-container mat-elevation-z8">
                    
                    <mat-table #table [dataSource]="dataSource"  matSort matSortActive="key" matSortDirection="asc">
                    
                        <ng-container matColumnDef="key">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Key </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.key}} </mat-cell>
                        </ng-container>
                        
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                        </ng-container>
                    
                        <ng-container matColumnDef="memberId">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Member # </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.memberId}} </mat-cell>
                        </ng-container>
                    
                        <ng-container matColumnDef="userType">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> User Type </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{membershipUserType[element?.userType]}} </mat-cell>
                        </ng-container>
                    
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let element; columns: displayedColumns;" (click)="edit(element)"></mat-row>
                    </mat-table>

                    <mat-paginator #paginator
                        [showFirstLastButtons]="true"
                        [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 20]">
                    </mat-paginator>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
