<div class="container Custom-width">
    <mat-card>
        <mat-card-content>

            <div class="callout" *ngIf="error">
                <p> {{ error }} </p>
            </div>

            <!--Header-->
            <div class="modal-header">
                <div class="modal-title">
                    <h3><mat-icon matPrefix>account_circle</mat-icon> Registration</h3>
                </div>
            </div>

            <!-- form body -->

            <br>
            <div class="container">
                <form #formData="ngForm" (ngSubmit)="onSubmit(formData.valid)" >
    
                    <div class="row">
                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-select placeholder="Mr/Mrs/Ms/Dr" name="salutation" [(ngModel)]="model.salutation">
                                    <mat-option *ngFor="let salutation of salutations" [value]="salutation.value">
                                        {{salutation.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-5">
                            <input-custom fieldType="uppercase" fieldName="registrationName" placeholderText="Registration Name (First Middle Last)" maxLength="35"
                                [model]="model" [value]="model.registrationName" [isRequired]="true" errorMessage="Registration Name is required">
                            </input-custom>
                        </div>
                        <div class="offset-md-1 col-md-4 no-display-sm">
                            <div>
                                <br>
                                <mat-checkbox color="primary" name="isExistingMember" [(ngModel)]="model.isExistingMember" tabindex=-1>
                                    Are you already a member?
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <input-custom fieldType="uppercase" fieldName="street1" placeholderText="Address Line 1" maxLength="35"
                                [model]="model" [value]="model.street1" [isRequired]="true" errorMessage="Address Line 1 is required">
                            </input-custom>
                        </div>
                        <div class="offset-md-2 col-md-3 no-display-sm">
                            <mat-form-field>
                                <input matInput type="text" placeholder="Your Member #" name="existingMemberNo"
                                    [(ngModel)]="model.existingMemberNo" autocomplete="off" tabindex=-1>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <input-custom fieldType="uppercase" fieldName="street2" placeholderText="Address Line 2" maxLength="35"
                                [model]="model" [value]="model.street2" [isRequired]="false" errorMessage="">
                            </input-custom>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <input-custom fieldType="uppercase" fieldName="city" placeholderText="City" maxLength="25"
                                [model]="model" [value]="model.city" [isRequired]="true" errorMessage="City is required">
                            </input-custom>
                        </div>
                        <div class="col-md-1">
                            <input-custom fieldType="uppercase" fieldName="state" placeholderText="State" maxLength="2"
                                [model]="model" [value]="model.state" [isRequired]="true" errorMessage="State is required">
                            </input-custom>
                        </div>
                        <div class="col-md-1">
                            <input-custom fieldType="uppercase" fieldName="zip" placeholderText="Postal Code" maxLength="9"
                                [model]="model" [value]="model.zip" [isRequired]="true" errorMessage="Postal Code is required">
                            </input-custom>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Country" name="Country" [(ngModel)]="model.country">
                                    <mat-option *ngFor="let country of countries" [value]="country.name | uppercase">
                                        {{country.name | uppercase}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <input-custom fieldType="phone" fieldName="phone" placeholderText="Phone (just digits)" maxLength="25"
                                [model]="model" [value]="model.phone" [isRequired]="false" errorMessage="">
                            </input-custom>
                        </div>
                        <div class="col-md-5">
                            <input-custom fieldType="camelcase" fieldName="annualName" 
                                placeholderText="Annual Name (Enter your name as you would like it to appear in the HSML Annual)" maxLength="50"
                                [model]="model" [value]="model.annualName" [isRequired]="true" errorMessage="Annual Name is required">
                            </input-custom>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12 no-display-lg">
                            <div>
                                <br>
                                <mat-checkbox color="primary" name="isExistingMember" [(ngModel)]="model.isExistingMember" tabindex=-1>
                                    Are you already a member?
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 no-display-lg">
                            <mat-form-field>
                                <input matInput type="text" placeholder="Your Member #" name="existingMemberNo"
                                    [(ngModel)]="model.existingMemberNo" autocomplete="off" tabindex=-1>
                            </mat-form-field>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-4">
                            <input-custom fieldType="email" fieldName="email" placeholderText="E-Mail Address" maxLength="50"
                                [model]="model" [value]="model.email" [isRequired]="true" errorMessage="E-Mail Address is required">
                            </input-custom>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Password" type="password" name="password" show-hide-input required
                                    maxLength="50" class="form-control" [(ngModel)]="model.password" autocomplete="off">
                                <a mat-icon-button matSuffix matTooltip="Hold left mouse button down to view password" matTooltipPosition="right" disabled="model.password.length === 0"
                                    (mousedown)="onPasswordMouseDown($event)" (mouseup)="onPasswordMouseUp($event)"><i class="fa fa-eye"></i></a>
                                    <mat-hint align="start"> 
                                        <password-strength-bar [passwordToCheck]="model.password" [barLabel]="barLabel"></password-strength-bar> 
                                    </mat-hint>                                      
                                    <mat-hint align="end">{{model.password.length}} / 50 </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Please be sure your email address and password are correct!</p>
                        </div>
                    </div>
    
                    <!-- form submit -->

                    <div class="text-center">
                        <button mat-raised-button color="primary" [disabled]="!formData.valid">Register</button>
                    </div>
                    <br>
                    
                        
                    <!-- form body end -->

                    <!--Footer-->

                    <div class="container Custom-border">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-right Custom-margin">
                                    <p>Already registered? <a routerLink="/login">Login</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>                
            </div> 
            
        </mat-card-content>
    </mat-card>
</div>
