<div class="container Custom-width">
    <mat-card>
        <mat-card-content>

            <div class="callout" *ngIf="error">
                <ngb-alert type="danger" [dismissible]="false">
                    <strong>Oops!</strong> {{error}}
                </ngb-alert>
            </div>

            <!--Header-->
            <div class="modal-header">
                <div class="modal-title">
                    <h3><mat-icon matPrefix>account_circle</mat-icon> Registration</h3>
                </div>
            </div>

            <!-- form body -->

            <br>
            <div class="container">
                <form #formData="ngForm" (ngSubmit)="onSubmit(formData.valid)" >
    
                    <div class="row">
                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-select placeholder="Mr/Mrs/Ms/Dr" name="salutation" [(ngModel)]="model.salutation">
                                    <mat-option *ngFor="let salutation of salutations" [value]="salutation.value" [(disabled)]="model.isExistingMember">
                                        {{salutation.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-5">
                            <mat-form-field class="width-full">
                                <input matInput maxLength="35" placeholder="Registration Name (First Middle Last)" name="registrationName" required
                                    [(ngModel)]="model.registrationName" customInput="uppercase">
                                <mat-hint align="end">{{model.registrationName?.length}} / 35</mat-hint>    
                                <mat-error>Registration Name is required</mat-error>
                            </mat-form-field>                        
                        </div>
                        <div class="offset-md-1 col-md-4 no-display-sm">
                            <div>
                                <br>
                                <mat-checkbox color="primary" name="isExistingMember" [(ngModel)]="model.isExistingMember" tabindex=-1>
                                    Are you already a member?
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="width-full">
                                <input matInput maxLength="35" placeholder="Address Line 1" name="street1" required
                                    [(ngModel)]="model.street1" customInput="uppercase">
                                <mat-hint align="end">{{model.street1?.length}} / 35</mat-hint>    
                                <mat-error>Address Line 1 is required</mat-error>
                            </mat-form-field>                        
                        </div>
                        <div class="offset-md-2 col-md-3 no-display-sm">
                            <mat-form-field>
                                <input #memberNo matInput type="text" placeholder="Your Member #" name="existingMemberNo" tabindex=-1
                                    autocomplete="off" [disabled]="!model.isExistingMember"
                                    [(ngModel)]="model.existingMemberNo" (blur)="onMemberNoChange(memberNo.value)">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="width-full">
                                <input matInput maxLength="35" placeholder="Address Line 2" name="street2"
                                    [(ngModel)]="model.street2" customInput="uppercase">
                                <mat-hint align="end">{{model.street2?.length}} / 35</mat-hint>    
                            </mat-form-field>                        
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field class="width-full">
                                <input matInput maxLength="25" placeholder="City" name="city" required
                                    [(ngModel)]="model.city" customInput="uppercase">
                                <mat-hint align="end">{{model.city?.length}} / 25</mat-hint>    
                                <mat-error>City is required</mat-error>
                            </mat-form-field>                        
                        </div>
                        <div class="col-md-1">
                            <mat-form-field class="width-full">
                                <input matInput length="2" placeholder="State" name="state" required
                                    [(ngModel)]="model.state" customInput="uppercase">
                                <mat-hint align="end">{{model.state?.length}} / 2</mat-hint>    
                                <mat-error>State is required</mat-error>
                            </mat-form-field>                        
                        </div>
                        <div class="col-md-1">
                            <mat-form-field class="width-full">
                                <input matInput maxLength="9" placeholder="Postal Code" name="zip" required
                                    [(ngModel)]="model.zip" customInput="uppercase">
                                <mat-hint align="end">{{model.zip?.length}} / 9</mat-hint>    
                                <mat-error>Postal Code is required</mat-error>
                            </mat-form-field>                        
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Country" name="Country" [(ngModel)]="model.country">
                                    <mat-option *ngFor="let country of countries" [value]="country.name | uppercase" [(disabled)]="model.isExistingMember">
                                        {{country.name | uppercase}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field class="width-full">
                                <input matInput maxLength="25" placeholder="Phone (digits only)" name="phone"
                                    [(ngModel)]="model.phone" customInput="phone">
                                <mat-hint align="end">{{model.city?.length}} / 25</mat-hint>    
                            </mat-form-field>                        
                        </div>
                        <div class="col-md-5">
                            <mat-form-field class="width-full">
                                <input matInput maxLength="50" placeholder="Annual Name (Enter your name as you would like it to appear in the HSML Annual)" 
                                    name="annualName" required 
                                    [(ngModel)]="model.annualName" customInput="camelcase">
                                <mat-hint align="end">{{model.annualName?.length}} / 50</mat-hint>    
                                <mat-error>Annual Name is required</mat-error>
                            </mat-form-field>                        
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12 no-display-lg">
                            <div>
                                <br>
                                <mat-checkbox color="primary" name="isExistingMember" [(ngModel)]="model.isExistingMember" tabindex=-1>
                                    Are you already a member?
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 no-display-lg">
                            <mat-form-field>
                                <input #memberNo matInput type="text" placeholder="Your Member #" name="existingMemberNo" tabindex=-1
                                autocomplete="off" [disabled]="!model.isExistingMember"
                                [(ngModel)]="model.existingMemberNo" (blur)="onMemberNoChange(memberNo.value)">
                        </mat-form-field>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="width-full">
                                <input matInput maxLength="50" placeholder="E-Mail Address" name="email" required
                                    [(ngModel)]="model.email" type="email">
                                <mat-hint align="end">{{model.email?.length}} / 50</mat-hint>    
                                <mat-error>E-Mail Address is required</mat-error>
                            </mat-form-field>                        
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Password" type="password" name="password" show-hide-input required
                                    maxLength="50" class="form-control" [(ngModel)]="model.password" autocomplete="off">
                                <a mat-icon-button matSuffix matTooltip="Hold left mouse button down to view password" matTooltipPosition="right" disabled="model.password.length === 0"
                                    (mousedown)="onPasswordMouseDown()" (mouseup)="onPasswordMouseUp()"><i class="fa fa-eye"></i></a>
                                    <mat-hint align="start"> 
                                        <password-strength-bar [passwordToCheck]="model.password" [barLabel]="barLabel"></password-strength-bar> 
                                    </mat-hint>                                      
                                    <mat-hint align="end">{{model.password.length}} / 50 </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Please be sure your email address and password are correct!</p>
                        </div>
                    </div>
    
                    <!-- form submit -->

                    <div class="text-center">
                        <button mat-raised-button color="primary" [disabled]="!formData.valid">Register</button>
                    </div>
                    <br>
                    
                    <!-- form body end -->

                    <!--Footer-->

                    <div class="container Custom-border">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-right Custom-margin">
                                    <p>Already registered? <a routerLink="/login">Login</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>                
            </div> 
            
        </mat-card-content>
    </mat-card>
</div>
