<div class="modal-header">
  <h4 class="modal-title"><i class="fa fa-warning" aria-hidden="true"></i> Is this your member information?</h4>
</div>
<div class="modal-body">
  <p>Member #: {{ data.existingMemberNo }}<br><br> 
     {{ data.registrationName }}<br>
     {{ data.street1 }}<br>
     <span *ngIf="data.street2">{{ data.street2 }}<br></span>
     {{ data.city }}, {{ data.state }} {{ data.zip }}<br><br>
     {{ data.phone }}<br>
     {{ data.email }}<br>
  </p>
</div>
<div class="modal-footer">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
  <button mat-button (click)="onNoClick()">No</button>
</div>
