.Custom-width, .mat-card, .mat-card {
    min-width: 300px;
    max-width: 500px;
    padding: 0;
}
.Custom-border {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #3C599F;
}
.Custom-margin {
    margin-top: 5px;
}