<div class="container Custom-width">
    <mat-card>
        <mat-card-content>

            <div class="callout" *ngIf="message">
                <ngb-alert type="danger" [dismissible]="false">
                    {{ message }}
                </ngb-alert>
            </div>

            <!--Header-->
            <div class="modal-header">
                <div class="modal-title">
                    <h3><mat-icon matPrefix>lock</mat-icon> Reset Password</h3>
                </div>
            </div>

            <div class="container">
                <form #formData="ngForm" (ngSubmit)="onSubmit(formData)" [formGroup]="resetForm">
                    <div class="row">
                            <div class="offset-1 col-10">
                            <mat-form-field>
                                <mat-icon matPrefix>email</mat-icon>
                                <input matInput placeholder="E-Mail Address" type="email"
                                    maxLength="50" class="form-control" formControlName="email" required>
                                <mat-hint align="end">{{formData?.value.email.length}} / 50</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                        <button mat-raised-button color="primary" [disabled]="!formData.valid">Submit</button>
                    </div>
        
                    <!--Footer-->
                    <br>
                    <div class="container Custom-border">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-right Custom-margin">
                                    <p><a routerLink="/">Cancel</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>    
        </mat-card-content>
    </mat-card>
</div>
