<div class="container main-container" >
    <!--Card-->
    <mat-card>
        <ng-template ngbModalContainer></ng-template>
        <mat-card-content>
            <form #formData="ngForm" (ngSubmit)="submitPayment(formData)">
                <br>
                <div class="row">
                    <div class="offset-lg-1 col-lg-6">
                        <h6 *ngIf="onlineEntry"><strong>MEMBER: {{ member?.memberName }}</strong></h6> 
                        <h6 *ngIf="!onlineEntry"><strong>GIFT MEMBERSHIPS: CHECK ENTRY</strong></h6> 
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <label><strong> # of Years: </strong></label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <label><strong> Amount per Year: </strong></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="offset-lg-1 col-lg-6" *ngIf="onlineEntry">
                        <div>
                            <p>
                                <strong>Gift Membership for the Year {{setup?.duesYear}}</strong><br>
                                <strong>Regular Membership for Individuals or Couples is {{minPrice | currency}} per Year</strong><br>
                                <strong>Recipient Receives an 8 1/2" X 11" Membership Certificate Inscribed with their Name</strong><br>
                            </p>
                        </div>
                    </div><!--col-->

                    <div class="offset-lg-1 col-lg-2" *ngIf="!onlineEntry">
                        <mat-form-field class="custom-margin">
                            <input type="text" placeholder="Member No" aria-label="Member No" matInput 
                                name="donorMemberNo" [matAutocomplete]="auto" [(ngModel)]="model.donorMemberNo"
                                (ngModelChange)="onMemberNoChange($event)" required>
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" panelWidth="500px">
                                <mat-option *ngFor="let member of members | filter : 'memberNo' : model.donorMemberNo" [value]="member.memberNo">
                                    <div class="row">
                                        <div class="col-1">
                                            {{ member.memberNo }}
                                        </div>
                                        <div class="col-11">
                                            {{member.memberName}}
                                        </div>
                                    </div>
                                    </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div><!--col-->

                    <div class="col-lg-4" *ngIf="!onlineEntry">
                        {{ member?.memberName }}<br>
                        Last membership year: {{ member?.lastDuesYear }}
                    </div><!--col-->
            
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="md-form form-group input-group">
                                    <input type="number" class="form-control text-sm-center" aria-label="Quantity" name="duesQuantity" [(ngModel)]="model.duesQuantity">
                                    <span class="input-group-addon">X</span>
                                </div>
                            </div><!--col-->
                            
                            <div class="col-lg-5">
                                <div class="md-form form-group input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="number" class="form-control text-sm-center" aria-label="Amount (to the nearest dollar)" readonly name="duesAmount" [(ngModel)]="model.duesAmount">
                                    <span class="input-group-addon">.00</span>
                                </div>
                            </div> <!--col-->
                        </div> <!--row-->
                    </div> <!--col-->

                </div> <!--row-->

                <div class="row" *ngIf="!onlineEntry">
                    <div class="offset-md-1 col-md-2">
                        <mat-form-field class="example-full-width">
                            <input type="text" placeholder="Check #" aria-label="Check #" matInput 
                                name="checkNo" [(ngModel)]="model.checkNo" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Check Date"
                                name="checkDate" [(ngModel)]="model.checkDate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="offset-lg-1 col-lg-6 align-self-end">
                        <div class="row">
                            <div class="col-lg-12">
                                <mat-form-field class="width-full">
                                    <!-- <input matInput maxLength="50" placeholder="Annual Name" name="annualName" required
                                        [(ngModel)]="model.annualName" customInput="camelcase"> -->

                                    <input type="text" placeholder="Annual Name" aria-label="Annual Name" matInput required
                                        name="annualName" [matAutocomplete]="autoAnnualName" [(ngModel)]="model.annualName"
                                        (ngModelChange)="onAnnualNameChange($event)" customInput="camelcase">
                                    <mat-autocomplete #autoAnnualName="matAutocomplete" [displayWith]="displayAnnualNameFn">
                                        <mat-option *ngFor="let giftMembership of filteredGiftMemberships | filter : 'annualName' : model.annualName" [value]="giftMembership.annualName">
                                            {{giftMembership.annualName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-hint align="end">{{model.annualName?.length}} / 50</mat-hint>    
                                    <mat-error>Annual Name is required</mat-error>
    
                                </mat-form-field>                        
                            </div> <!--col-->
                        </div> <!--row-->
                        <div class="row">
                            <div class="col-lg-12">
                                <p style="margin-top: 2px">
                                    List the name as the recipient would want it to appear in the Society <strong><i>Annual</i></strong>, e.g., John J.Hubbell;
                                    M/M John J. Hubbell; John Jay & Ann Hubbell; Jane Hubbell Holt, M/M Ray Holt; The Ohio State University
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <mat-form-field class="width-full">
                                    <input matInput maxLength="35" placeholder="Recipient Name" name="recipientName" required
                                        [(ngModel)]="model.recipientName" customInput="uppercase">
                                    <mat-hint align="end">{{model.recipientName?.length}} / 35</mat-hint>    
                                    <mat-error>Recipient Name is required</mat-error>
                                </mat-form-field>                        
                            </div> <!--col-->
                        </div> <!--row-->
                        <div class="row">
                            <div class="col-lg-12">
                                <mat-form-field class="width-full">
                                    <input matInput maxLength="35" placeholder="Address Line 1" name="street1" required
                                        [(ngModel)]="model.street1" customInput="uppercase">
                                    <mat-hint align="end">{{model.street1?.length}} / 35</mat-hint>    
                                    <mat-error>Address Line 1 is required</mat-error>
                                </mat-form-field>                        
                            </div> <!--col-->
                        </div> <!--row-->
                        <div class="row">
                            <div class="col-lg-12">
                                <mat-form-field class="width-full">
                                    <input matInput maxLength="35" placeholder="Address Line 2" name="street2" 
                                    [(ngModel)]="model.street2" customInput="uppercase">
                                    <mat-hint align="end">{{model.street2?.length}} / 35</mat-hint>    
                                </mat-form-field>                        
                            </div> <!--col-->
                        </div> <!--row-->
                        <div class="row">
                            <div class="col-lg-12">
                                <mat-form-field class="width-full">
                                    <input matInput maxLength="25" placeholder="City" name="city" required
                                        [(ngModel)]="model.city" customInput="uppercase">
                                    <mat-hint align="end">{{model.street1?.length}} / 25</mat-hint>    
                                    <mat-error>City is required</mat-error>
                                </mat-form-field>                        
                            </div> <!--col-->
                        </div> <!--row-->
                        <div class="row">
                            <div class="col-md-2">
                                <mat-form-field class="width-full">
                                    <input matInput minLength="2" maxLength="2" placeholder="State" name="State" required
                                        [(ngModel)]="model.state" customInput="uppercase">
                                    <mat-hint align="end">{{model.state?.length}} / 2</mat-hint>    
                                    <mat-error>State is required</mat-error>
                                </mat-form-field>                        
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="width-full">
                                    <input matInput maxLength="9" placeholder="Postal Code" name="zip" required
                                        [(ngModel)]="model.zip" customInput="uppercase">
                                    <mat-hint align="end">{{model.zip?.length}} / 9</mat-hint>    
                                    <mat-error>Postal Code is required</mat-error>
                                </mat-form-field>                        
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-select placeholder="Country" name="Country" [(ngModel)]="model.country" (selectionChange)="toggleMerchandise()" required>
                                        <mat-option *ngFor="let country of countries" [value]="country.name | uppercase">
                                            {{country.name | uppercase}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div> <!--row-->
                        <div class="row">
                            <div class="col-lg-12">
                                <mat-form-field class="width-full">
                                    <input matInput maxLength="35" placeholder="Recipient E-Mail" name="eMailAddr"
                                        [(ngModel)]="model.eMailAddr">
                                    <mat-hint align="end">{{model.eMailAddr?.length}} / 35</mat-hint>    
                                </mat-form-field>                        
                            </div> <!--col-->
                        </div> <!--row-->
                    </div> <!--col-->
                            
                    <div class="col-lg-5 align-self-end">
                        <div class="row" hidden="true">
                            <div class="col-lg-10">
                                <p> 
                                    <strong>First-Time Gift Membership Offer</strong><br>
                                    In addition to the Gift Membership, the Society will include a merchandise package for an additional
                                    $20.00 (an $80.00 value), plus a shipping charge of $15.00 ($50.00 outside the continental U.S.)
                                </p>
                            </div>
                        </div>
                        <div class="row" hidden="true">
                            <div class="col-lg-10">
                                <mat-checkbox class="custom-margin" color="primary" name="isMerchandiseChecked" 
                                    [(ngModel)]="model.isMerchandiseChecked" (change)="toggleMerchandise()" [disabled]="model.country?.length == 0">
                                        <strong>Gift Package</strong>
                                        <mat-hint> (Country must be selected)</mat-hint>
                                    </mat-checkbox>
                            </div>
                        </div>
                        <br>
                        <br *ngIf="onlineEntry && !superUser">
                        <br *ngIf="onlineEntry && !superUser">
                        <div class="row" hidden="true">
                            <div class="col-lg-5">
                                <div  style="margin-top: 12px;">
                                    <label><strong> Gift Package Amt: <br></strong></label>
                                </div>
                            </div> <!--col-->

                            <div class="col-lg-5">
                                <div class="md-form form-group">
                                    <div class="md-form form-group input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" class="form-control text-sm-center" aria-label="Amount (to the nearest dollar)" readonly name="merchandisePackageAmount" [(ngModel)]="model.merchandisePackageAmount">
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                </div> 
                            </div> <!--col-->
                        </div> <!--row-->    
    

                        <div class="row" hidden="true">
                            <div class="col-lg-5">
                                <div  style="margin-top: 12px;">
                                    <label><strong> Shipping Charges: <br></strong></label>
                                </div>
                            </div> <!--col-->

                            <div class="col-lg-5">
                                <div class="md-form form-group">
                                    <div class="md-form form-group input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" class="form-control text-sm-center" aria-label="Amount (to the nearest dollar)" readonly name="shippingCharges" [(ngModel)]="model.shippingCharges">
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                </div> 
                            </div> <!--col-->
                        </div> <!--row-->    
    
                        <div class="row">
                            <div class="col-lg-5">
                                <div  style="margin-top: 12px;">
                                    <label><strong> Membership Total: <br></strong></label>
                                </div>
                            </div> <!--col-->

                            <div class="col-lg-5">
                                <div class="md-form form-group border-top-double-addon">
                                    <div class="md-form form-group input-group">
                                        <span class="input-group-addon">$</span>
                                        <input #membershipTotal type="number" min="1" class="form-control text-sm-center" aria-label="Amount (to the nearest dollar)" readonly name="membershipTotal" [(ngModel)]="model.membershipTotal">
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                </div> 
                            </div> <!--col-->
                        </div> <!--row-->

                        <div class="row" *ngIf="superUser" >
                            <div class="col-lg-10">
                                <button mat-raised-button color="primary" type="button" class="float-sm-right custom-width" (click)="onSwitch()">Switch Entry Mode</button>
                            </div> <!--col-->
                        </div> <!--row-->

                        <div class="row">
                            <div class="col-lg-10">
                                <button mat-raised-button color="primary" type="submit" class="float-sm-right custom-width" [disabled]="!formData.valid">{{submitButtonText}}</button>
                            </div> <!--col-->
                        </div> <!--row-->            
                    </div> <!--col-->
                </div> <!--row-->
                <br>
            </form>
        </mat-card-content>
    </mat-card>
</div>