.page-body {
    width: 8.27in;
    margin: 0in .2in;
}
.label {
    /* Avery 5160 labels */
    width: 2.63in; /* plus .6 inches from padding */
    height: 1.125in; /* plus .125 inches from padding */
    padding: 0.01in 0 0.1in 0.05in;
    margin-right: 0; /* the gutter */

    display: inline-block;

    /*text-align: center;*/
    overflow: hidden;

    outline: 1px dotted #e0e0e0;  /*outline doesn't occupy space like border does */
}
@media all {
    .page-break { display: none; }
}

@media print {
    .page-break { display: block; page-break-before: always; page-break-inside:avoid}
}