.border-top-double-addon {
    border-top-style: double;
}
.custom-width {
    width: 100%;
    margin-bottom: 10px;
}
.custom-margin {
    margin-top: 0;
}

.mat-autocomplete-panel {
    min-width: inherit !important;
}
.cdk-overlay-pane {
    display: block;
    min-width: 500px;
}