<div class="container main-container" >
        <!--Card-->
        <mat-card>
            <ng-template ngbModalContainer></ng-template>
            <mat-card-content>
                <div class="container Custom-table-width">                        
                    <div class="example-container mat-elevation-z8">
                        
                        <mat-table #table [dataSource]="dataSource">
                        
                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="select">
                                <mat-header-cell *matHeaderCellDef> Select </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <mat-checkbox (click)="$event.stopPropagation(); elementToggle()"
                                                    (change)="$event ? selection.toggle(element) : null"
                                                    [checked]="selection.isSelected(element)">
                                    </mat-checkbox>
                                </mat-cell>
                            </ng-container>
            
                            <ng-container matColumnDef="tableName">
                                <mat-header-cell *matHeaderCellDef> Table </mat-header-cell>
                                <mat-cell fxFlex="500" *matCellDef="let element"> {{element.tableName}} </mat-cell>
                            </ng-container>
                                                        
                            <ng-container matColumnDef="rowCount">
                                <mat-header-cell *matHeaderCellDef> Row Count </mat-header-cell>
                                <mat-cell fxFlex="500" *matCellDef="let element"> {{element.rowCount}} </mat-cell>
                            </ng-container>
                                                            
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
                        </mat-table>
    
                        <div class="container">
                            <div class="row">
                                <div class="col-md-1">
                                    <button mat-button style="margin-top:8px" (click)="fileToUpload.click()" ngbTooltip="Upload file(s)" [disabled]="selection.selected.length == 0">
                                            <i class="material-icons">file_upload</i>
                                    </button>
                                    <input #fileToUpload type="file" style="display:none;" (change)="onUploadData()">
                                </div>
                                <div class="col-md-2">
                                    <mat-checkbox class="custom-checkbox" [(ngModel)]="appendData">Append Data</mat-checkbox>
                                </div>
                                <div class="col-md-9">
                                    <mat-paginator #paginator
                                        [showFirstLastButtons]="true"
                                        [length]="elementData.length" 
                                        [pageSize]="10"
                                        [pageSizeOptions]="[5, 10, 20]">
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <!-- <interval-dir (everySecond)="everySecond()" (everyFiveSeconds)="everyFiveSeconds()">
        </interval-dir> -->
        <!-- <div ng-if="fileContent" class="content">
            {{fileContent}}
        </div> -->
    </div>
    