.mat-form-field {
    width: 75%;
}
.floating-fab {
    position: absolute;
    right: 25px;
    top: 25px;
    outline: none;
    border: 0;
} 
.example-container {
    display: flex;
    flex-direction: column;
}
.mat-table {
    overflow: auto;
    max-height: 600px;
}
.mat-header-row {
    -webkit-text-fill-color:white;
    background:royalblue;
}
.mat-column-registrationName {
    min-width: 180px;
    max-width: 200px;
}
.mat-column-addrLine1 {
    min-width: 180px;
    max-width: 180px;
}
.mat-column-addrLine2 {
    min-width: 180px;
    max-width: 180px;
}
.mat-column-city {
    min-width: 140px;
    max-width: 140px;
}
.mat-column-state {
    min-width: 50px;
    max-width: 50px;
}
.mat-column-zip {
    min-width: 80px;
    max-width: 80px;
}
.Custom-table-width {
    padding-left: 0;
    padding-right: 0;
}
.mat-card {
    max-width: 1200px;
}