<div class="width-form">
    <form #formData="ngForm" (ngSubmit)="onSubmit(formData.valid)">
        <div class="modal-header">
            <h4 class="modal-title">
                New Registrations
            </h4>
        </div>
        <div class="modal-body">        
            <mat-tab-group [(selectedIndex)]="selectedTabIndex" dynamicHeight="true">
                <mat-tab label="Address">

                    <!-- form body -->
                    <div class="container">                                                
                        <div class="row">
                            <div class="col-md-2">
                                <mat-form-field>   
                                    <mat-select placeholder="Mr/Mrs/Ms/Dr" name="salutation" [(ngModel)]="model.salutation">
                                        <mat-option *ngFor="let salutation of salutations" [value]="salutation.value">
                                            {{salutation.viewValue}}
                                        </mat-option>
                                    </mat-select>
                            </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="width-full">
                                    <input matInput maxLength="35" placeholder="Name" name="registrationName" required
                                        [(ngModel)]="model.registrationName" customInput="uppercase">
                                    <mat-hint align="end">{{model.registrationName?.length}} / 35</mat-hint>    
                                    <mat-error>Name is required</mat-error>
                                </mat-form-field>                        
                            </div>
                        </div>
                    </div>

                    <div class="container">                                                
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="width-full">
                                    <input matInput maxLength="35" placeholder="Address Line 1" name="street1" required
                                        [(ngModel)]="model.street1" customInput="uppercase">
                                    <mat-hint align="end">{{model.street1?.length}} / 35</mat-hint>    
                                    <mat-error>Address Line 1 is required</mat-error>
                                </mat-form-field>                        
                            </div>
                        </div>
                    </div>

                    <div class="container">                                                
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="width-full">
                                    <input matInput maxLength="35" placeholder="Address Line 2" name="street2"
                                        [(ngModel)]="model.street2" customInput="uppercase">
                                    <mat-hint align="end">{{model.street2?.length}} / 35</mat-hint>    
                                </mat-form-field>                        
                            </div>
                        </div>
                    </div>

                    <div class="container">                                                
                        <div class="row">
                            <div class="col-md-5">
                                <mat-form-field class="width-full">
                                    <input matInput maxLength="25" placeholder="City" name="city" required
                                        [(ngModel)]="model.city" customInput="uppercase">
                                    <mat-hint align="end">{{model.city?.length}} / 25</mat-hint>    
                                    <mat-error>City is required</mat-error>
                                </mat-form-field>                        
                            </div>
                            <div class="col-md-1">
                                <mat-form-field class="width-full">
                                    <input matInput length="2" placeholder="State" name="state" required
                                        [(ngModel)]="model.state" customInput="uppercase">
                                    <mat-hint align="end">{{model.state?.length}} / 2</mat-hint>    
                                    <mat-error>State is required</mat-error>
                                </mat-form-field>                        
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="width-full">
                                    <input matInput maxLength="9" placeholder="Postal Code" name="zip" required
                                        [(ngModel)]="model.zip" customInput="uppercase">
                                    <mat-hint align="end">{{model.zip?.length}} / 9</mat-hint>    
                                    <mat-error>Postal Code is required</mat-error>
                                </mat-form-field>                        
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-select placeholder="Country" name="Country" [(ngModel)]="model.country">
                                        <mat-option *ngFor="let country of countries" [value]="country.name | uppercase">
                                            {{country.name | uppercase}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="container">                                                
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="width-full">
                                    <input matInput maxLength="25" placeholder="Phone (digits only)" name="phone"
                                        [(ngModel)]="model.phone" customInput="phone">
                                    <mat-hint align="end">{{model.city?.length}} / 25</mat-hint>    
                                </mat-form-field>                        
                            </div>
                        </div>
                    </div>

                    <div class="container">                                                
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="width-full">
                                    <input matInput maxLength="50" placeholder="E-Mail Address" name="email" required
                                        [(ngModel)]="model.email" type="email">
                                    <mat-hint align="end">{{model.email?.length}} / 50</mat-hint>    
                                    <mat-error>E-Mail Address is required</mat-error>
                                </mat-form-field>                        
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Member Info">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="width-full">
                                    <input matInput maxLength="50" placeholder="Annual Name" name="annualName" required
                                        [(ngModel)]="model.annualName" customInput="camelcase">
                                    <mat-hint align="end">{{model.annualName?.length}} / 50</mat-hint>    
                                    <mat-error>Annual Name is required</mat-error>
                                </mat-form-field>                        
                            </div>
                            <div class="col-md-5">
                                <mat-form-field class="width-full">
                                    <input matInput maxLength="35" placeholder="Sort Name" name="sortName" required
                                        [(ngModel)]="model.sortName" customInput="uppercase">
                                    <mat-hint align="end">{{model.sortName?.length}} / 35</mat-hint>    
                                    <mat-error>Sort Name is required</mat-error>
                                </mat-form-field>                        
                            </div>    
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                    <mat-form-field>
                                    <input matInput type="text" placeholder="Member #"
                                        maxLength="35" class="form-control" name="memberNo" 
                                        [(ngModel)]="model.memberNo">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <button mat-raised-button type="button" color="primary" (click)="onAssignMemberNo()" [disabled]="model.memberNo.length > 0" matTooltip="This is a new member, assign next member #">Assign</button>
                            </div>
                        </div>
                    </div>
                
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                    <mat-form-field>
                                    <input matInput type="text" placeholder="H&amp;G Book"
                                        maxLength="35" class="form-control" name="hgBook" 
                                        [(ngModel)]="model.hgBook">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                    <mat-form-field>
                                    <input matInput type="text" placeholder="A&amp;R Book"
                                        maxLength="35" class="form-control" name="arBook" 
                                        [(ngModel)]="model.arBook">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="M&amp;E Book"
                                        maxLength="35" class="form-control" name="meBook" 
                                        [(ngModel)]="model.meBook">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    
                    <div class="container">        
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field>   
                                    <mat-select placeholder="Member Type" name="memberType" [(ngModel)]="model.memberType">
                                        <mat-option *ngFor="let memberType of memberTypes" [value]="memberType.id">
                                            {{memberType.description}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>   
                                    <mat-select placeholder="Member Status" name="memberStatus" [(ngModel)]="model.memberStatus">
                                        <mat-option *ngFor="let memberStatus of memberStatuses" [value]="memberStatus.id">
                                            {{memberStatus.description}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="offset-md-2 col-md-4">
                                <div>
                                    <!-- <label class="custom-checkbox-label">Are you aleady a member? </label> -->
                                    <br>
                                    <mat-checkbox color="primary" name="isExistingMember" [(ngModel)]="model.isExistingMember">
                                        Maybe already a member
                                    </mat-checkbox>
                                </div>                
                            </div>
                        </div>
                    </div>

                    <div class="container">        
                        <div class="row">
                            <div class="col-md-2">
                                <mat-form-field>
                                <input matInput type="number" placeholder="Last Dues Year"
                                    maxLength="35" class="form-control" name="lastDuesYear" 
                                    [(ngModel)]="model.lastDuesYear">
                                </mat-form-field>
                            </div>
                            <div class="offset-md-6 col-md-3">
                                <mat-form-field>
                                    <input matInput type="number" placeholder="Possible Member #" 
                                        class="form-control" name="existingMemberNo" 
                                        [(ngModel)]="model.existingMemberNo" autocomplete="off">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>        
                </mat-tab>

                <mat-tab label="Search">
                    <br>
                    <h6>
                        <span>{{model.registrationName}} / </span>
                        <span>{{model.street1}} / </span>
                        <span>{{model.street2}} / </span>
                        <span>{{model.city}} </span>
                        <span>{{model.state}}, </span>
                        <span>{{model.zip}} / </span>
                        <span> Possible member # {{model.existingMemberNo}} </span>
                    </h6>
                    <br>
                    <div class="example-container mat-elevation-z8">
                    
                        <mat-table #table [dataSource]="dataSource">
                        
                                <ng-container matColumnDef="memberNo">
                                    <mat-header-cell *matHeaderCellDef> Member # </mat-header-cell>
                                    <mat-cell fxFlex="500" *matCellDef="let element"> {{element.memberNo}} </mat-cell>
                                </ng-container>
                            
                                <ng-container matColumnDef="memberName">
                                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                <mat-cell fxFlex="500" *matCellDef="let element"> {{element.memberName}} </mat-cell>
                            </ng-container>
                        
                            <ng-container matColumnDef="addrLine1">
                                <mat-header-cell *matHeaderCellDef> Address 1 </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.addrLine1}} </mat-cell>
                            </ng-container>
                        
                            <ng-container matColumnDef="addrLine2">
                                <mat-header-cell *matHeaderCellDef> Address 2 </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.addrLine2}} </mat-cell>
                            </ng-container>
                            
                            <ng-container matColumnDef="city">
                                <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
                            </ng-container>
                            
                            <ng-container matColumnDef="state">
                                <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
                            </ng-container>
                            
                            <ng-container matColumnDef="zip">
                                <mat-header-cell *matHeaderCellDef> Zip </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.zip}} </mat-cell>
                            </ng-container>
                            
                            <ng-container matColumnDef="meBook">
                                <mat-header-cell *matHeaderCellDef> M&amp;E Book </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.meBook}} </mat-cell>
                            </ng-container>
                                
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let element; columns: displayedColumns;" (click)="onRowClick(element)"></mat-row>
                        </mat-table>
                    
                        <mat-paginator #paginator
                            [pageSize]="5"
                            [pageSizeOptions]="[5, 10, 20]">
                        </mat-paginator>
                    </div>
                </mat-tab>                            
            </mat-tab-group>
            <br>
            <div class="container Custom-border">
                <br>
                <div class="row">
                    <div class="col-2">
                        <div *ngIf="selectedTabIndex == 2" class="field-top-margin">
                            <mat-form-field>
                                <mat-select placeholder="Filter By" name="filterBy" 
                                    [(ngModel)]="filterBy"(change)="onFilterChange($event)">
                                    <mat-option *ngFor="let filterBy of filterOptions | enumKeys" [value]="filterBy.key">
                                        {{filterBy.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>                                        
                        </div>
                    </div>
                    <div class="col-4">
                        <div *ngIf="selectedTabIndex == 2" class="field-top-margin">
                            <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" [(value)]="searchText">
                            </mat-form-field>                                        
                        </div>
                    </div>
                    <div class="col-6">
                        <div *ngIf="selectedTabIndex != 2" class="field-top-margin">
                            <div class="text-right Custom-margin">
                                <button mat-button type="submit" matTooltip="Save"><mat-icon>done</mat-icon></button>
                                <confirm-button-default [message]="'Delete this item ?'" [isValid]="true" (onClosing)="onDelete($event)"></confirm-button-default>
                                <button mat-button type="button" matTooltip="Cancel" (click)="dialogRef.close()"><mat-icon>undo</mat-icon></button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </form>
</div>
