<div class="container main-container" >
    <!--Card-->
    <mat-card>
        <ng-template ngbModalContainer></ng-template>
        <mat-card-content>
            <form #formData="ngForm" (ngSubmit)="submitPayment(formData.valid)">
                <br>
                <div class="row">
                    <div class="offset-lg-1 col-lg-6 col-md-7 col-sm-6 col-sm-4">
                        <h6 *ngIf="onlineEntry"><strong>MEMBER: {{ member?.memberName }}</strong></h6> 
                        <h6 *ngIf="!onlineEntry"><strong>MEMBER DUES: CHECK ENTRY</strong></h6> 
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6">
                        <div>
                            <label><strong> # of Years: </strong></label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6">
                        <div>
                            <label><strong> Amount per Year: </strong></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-lg-2 col-lg-5 col-md-8 col-sm-7 col-sm-6" *ngIf="onlineEntry">
                        <div>
                            <p>
                                <strong>{{setup?.duesYear}} ANNUAL DUES - {{minPrice | currency}} </strong><br>
                                    (Individual or Family w/minor children) <br> 
                                    (See Membership Levels for Dues Amounts below)<br>
                                <strong>Last membership year: {{member?.lastDuesYear}}</strong> 
                            </p>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-sm-2" *ngIf="!onlineEntry">
                        <mat-form-field class="custom-margin">
                            <input type="text" placeholder="Member No" aria-label="Member No" matInput 
                                name="memberNo" [matAutocomplete]="auto" [(ngModel)]="model.memberNo"
                                (ngModelChange)="onMemberNoChange($event)" required>
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" panelWidth="500px">
                                <mat-option *ngFor="let member of members | filter : 'memberNo' : model.memberNo" [value]="member.memberNo">
                                    <div class="row">
                                        <div class="col-1">
                                            {{ member.memberNo }}
                                        </div>
                                        <div class="col-11">
                                            {{member.memberName}}
                                        </div>
                                    </div>
                                    </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4" *ngIf="!onlineEntry">
                        {{ member?.memberName }}<br>
                        Last membership year: {{ member?.lastDuesYear }}
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6">
                        <div class="md-form form-group input-group">
                            <input type="number" class="form-control text-sm-center" aria-label="Quantity" name="duesQuantity" [(ngModel)]="model.duesQuantity">
                            <span class="input-group-addon">X</span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6">
                        <div class="md-form form-group input-group">
                            <span class="input-group-addon">$</span>
                            <input type="number" class="form-control text-sm-center" aria-label="Amount (to the nearest dollar)" name="duesAmount" [(ngModel)]="model.duesAmount">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="!onlineEntry">
                    <div class="offset-md-1 col-md-2">
                        <mat-form-field class="example-full-width">
                            <input type="text" placeholder="Check #" aria-label="Check #" matInput 
                                name="checkNo" [(ngModel)]="model.checkNo" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Check Date"
                                name="checkDate" [(ngModel)]="model.checkDate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="offset-lg-1 col-lg-11 col-md-12 col-sm-12 col-sm-12">
                        <div>
                            <label><strong><em>  Additional contributions may be distributed to any of the following: </em></strong></label>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="offset-lg-2 col-lg-6 col-md-9 col-sm-8 col-sm-6">
                        <div>
                            <label>{{ model?.foundationLit }}</label>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-2 col-md-3 col-sm-4 col-sm-6">
                        <div class="md-form form-group input-group">
                            <span class="input-group-addon">$</span>
                            <input type="number" class="form-control text-sm-center" name="foundation" [(ngModel)]="model.foundation">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="offset-lg-2 col-lg-6 col-md-9 col-sm-8 col-sm-6">
                        <div>
                            <label>{{ model?.museum_libraryLit }}</label>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-2 col-md-3 col-sm-4 col-sm-6">
                        <div class="md-form form-group input-group">
                            <span class="input-group-addon">$</span>
                            <input type="number" class="form-control text-sm-center" name="museum_library" [(ngModel)]="model.museum_library">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="offset-lg-2 col-lg-6 col-md-9 col-sm-8 col-sm-6">
                        <div>
                            <label>{{ model?.scholarshipLit }}</label>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-2 col-md-3 col-sm-4 col-sm-6">
                        <div class="md-form form-group input-group">
                            <span class="input-group-addon">$</span>
                            <input type="number" class="form-control  text-sm-center" name="scholarship" [(ngModel)]="model.scholarship">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: -50px">
                    <div class="offset-lg-1 col-lg-5 col-md-6 col-sm-6 col-sm-6">
                        <mat-card style="background:lightskyblue; margin-bottom: 9px">
                            <p> Membership Levels: <br>
                                <small>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <span><i class="fa fa-caret-right" aria-hidden="true"></i> {{ level5?.description | camelCase }} = ${{ level5?.price }}+</span>
                                        </div>
                                        <div class="col-sm-5">
                                            <span><i class="fa fa-caret-right" aria-hidden="true"></i> {{ level4?.description | camelCase }} = ${{ level4?.price }}+</span>
                                        </div>
                                        <div class="col-sm-5">
                                            <span><i class="fa fa-caret-right" aria-hidden="true"></i> {{ level3?.description | camelCase }} = ${{ level3?.price }}+</span> 
                                        </div>
                                        <div class="col-sm-5">
                                            <span><i class="fa fa-caret-right" aria-hidden="true"></i> {{ level2?.description | camelCase }} = ${{ level2?.price }}+</span>
                                        </div>
                                        <div class="col-sm-5">
                                            <span><i class="fa fa-caret-right" aria-hidden="true"></i> {{ level1?.description | camelCase }} = ${{ level1?.price }}+</span>
                                        </div>
                                    </div>
                                     * Based on the Membership Total
                                </small>
                            </p>
                        </mat-card>
                        <div> 
                            <button mat-icon-button type="button" (click)="editUser()" [disabled]="!model?.memberNo">
                                    <mat-icon style="margin: -7px 0 0 0;">account_circle</mat-icon>
                                </button>
                            <p style="display: inline-flex; vertical-align: middle; margin-top: 10px;">
                                To update <span style="margin: 0 4px 0 4px;" [hidden]="!onlineEntry"> your </span> name & address
                            </p>
                        </div>
                        <br>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="offset-lg-2 col-lg-4 col-md-6 col-sm-6 col-sm-12">
                                <div  style="margin-top: 12px;">
                                    <label><strong> Membership Total: <br></strong></label>
                                </div>
                            </div> <!--col-->

                            <div class="col-lg-4 col-md-6 col-sm-6 col-sm-12">
                                <div class="md-form form-group border-top-double-addon">
                                    <div class="md-form form-group input-group">
                                        <span class="input-group-addon">$</span>
                                        <input #membershipTotal type="number" min="1" class="form-control text-sm-center" aria-label="Amount (to the nearest dollar)" readonly name="membershipTotal" [(ngModel)]="model.membershipTotal">
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                </div> 
                            </div> <!--col-->
                        </div> <!--row-->

                        <div class="row">
                            <div class="offset-lg-2 col-lg-4 col-md-6 col-sm-6 col-sm-12">
                                <div  style="margin-top: 12px;">
                                    <label><strong> Membership Level: </strong></label>
                                </div>
                            </div> <!--col-->
                            
                            <div class="col-lg-4 col-md-6 col-sm-6 col-sm-12">
                                <div>
                                    <div class="custom-width">
                                        <input type="text" class="form-control text-sm-center" readonly name="membershipLevel" [(ngModel)]="model.membershipLevel">
                                    </div>
                                </div>
                            </div> <!--col-->
                        </div> <!--row-->

                        <div class="row" *ngIf="!superUser" >
                            <div class="offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-sm-12">
                                <button mat-raised-button color="primary" type="button" class="float-sm-right custom-width" (click)="onSwitch()">Switch Entry Mode</button>
                            </div> <!--col-->
                        </div> <!--row-->

                        <div class="row">
                            <div class="offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-sm-12">
                                <button mat-raised-button color="primary" type="submit" class="float-sm-right custom-width" [disabled]="!formData.valid">{{submitButtonText}}</button>
                            </div> <!--col-->
                        </div> <!--row-->

                        <div class="row" style="visibility: hidden;">
                            <div>
                                <div>
                                    <input type="text" class="form-control text-sm-center" readonly name="membershipTypeId" [(ngModel)]="model.membershipTypeId">
                                </div>
                            </div>
                        </div> <!--row-->
            
                    </div> <!--col-->
                </div> <!--row-->
                <br>
            </form>
        </mat-card-content>
    </mat-card>
</div>