<div class="container Custom-width">
    <mat-card class="Custom-width">
        <mat-card-content>
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <h6 class="text-right">Name:</h6>
                        </div>
                        <div class="col-8">
                            <h5>{{member.memberName}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h6 class="text-right">Email:</h6>
                        </div>
                        <div class="col-8">
                            <h5>{{member.eMailAddr}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h6 class="text-right">Membership Level:</h6>
                        </div>
                        <div class="col-8">
                            <h5>{{model.membershipLevel}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h6 class="text-right">Total:</h6>
                        </div>
                        <div class="col-8">
                            <h5>{{model.membershipTotal | currency}}</h5>
                        </div>
                    </div>
                </div>
                <br>
                <p class="message-color">{{message}}</p>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row">
                        <div class="offset-3 col-2">
                            <button mat-raised-button color="primary" type="button" class="text-center" (click)="onClose(ConfirmResponses.cancel)">Cancel</button>
                        </div>
                        <div class="offset-1 col-3">
                            <paypal-button [formValid]="'true'" [totalSale]="model.membershipTotal" [currencyType]="'USD'" (statusUpdated)="handlePaypalSubmitted($event, model, 'true')"></paypal-button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
