<h3 mat-dialog-title class="modal-header"><mat-icon matPrefix>account_circle</mat-icon> My Account Information</h3>
<form #formData="ngForm" (ngSubmit)="onSubmit(formData.valid)">
    <mat-dialog-content>
        <mat-tab-group dynamicHeight="true">
            <mat-tab label="Address">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-select placeholder="Mr/Mrs/Ms/Dr" name="salutation" [(ngModel)]="model.salutation">
                                    <mat-option *ngFor="let salutation of salutations" [value]="salutation.value">
                                        {{salutation.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <input-custom fieldType="uppercase" fieldName="memberName" placeholderText="Member Name (First Middle Last)" maxLength="35"
                                [model]="model" [value]="model.memberName" [isRequired]="true" errorMessage="Member Name is required">
                            </input-custom>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <input-custom fieldType="uppercase" fieldName="addrLine1" placeholderText="Address Line 1" maxLength="35"
                                [model]="model" [value]="model.addrLine1" [isRequired]="true" errorMessage="Address Line 1 is required">
                            </input-custom>
                        </div>
                    </div>
                </div>
            
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <input-custom fieldType="uppercase" fieldName="addrLine2" placeholderText="Address Line 2" maxLength="35"
                                [model]="model" [value]="model.addrLine2" [isRequired]="false" errorMessage="">
                            </input-custom>
                        </div>
                    </div>
                </div>
                
                <div class="container">        
                    <div class="row">
                        <div class="col-md-5">
                            <input-custom fieldType="uppercase" fieldName="city" placeholderText="City" maxLength="25"
                                [model]="model" [value]="model.city" [isRequired]="true" errorMessage="City is required">
                            </input-custom>
                        </div>
                        <div class="col-md-1">
                            <input-custom fieldType="uppercase" fieldName="state" placeholderText="State" maxLength="2"
                                [model]="model" [value]="model.state" [isRequired]="true" errorMessage="State is required">
                            </input-custom>
                        </div>
                        <div class="col-md-2">
                            <input-custom fieldType="uppercase" fieldName="zip" placeholderText="Postal Code" maxLength="9"
                                [model]="model" [value]="model.zip" [isRequired]="true" errorMessage="Postal Code is required">
                            </input-custom>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Country" name="Country" [(ngModel)]="model.country">
                                    <mat-option *ngFor="let country of countries" [value]="country.name | uppercase">
                                        {{country.name | uppercase}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                
                <div class="container">        
                    <div class="row">
                        <div class="col-md-4">
                            <input-custom fieldType="phone" fieldName="phone" placeholderText="Phone (Just digits)" maxLength="25"
                                [model]="model" [value]="model.phone" [isRequired]="false" errorMessage="">
                            </input-custom>
                        </div>
                    </div>
                </div>
                <br>
            </mat-tab>

            <mat-tab label="Membership">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <input-custom fieldType="camelcase" fieldName="annualName" 
                                placeholderText="Annual Name (Enter your name as you would like it to appear in the HSML Annual)" maxLength="50"
                                [model]="model" [value]="model.annualName" [isRequired]="true" errorMessage="Annual Name is required">
                            </input-custom>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                                <mat-form-field>
                                <input matInput type="text" placeholder="Member #"
                                    maxLength="35" class="form-control" name="memberNo" 
                                    [(ngModel)]="model.memberNo" readonly="true">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput type="text" placeholder="E-Mail"
                                    maxLength="35" class="form-control" name="eMailAddr" readonly="true"
                                    [(ngModel)]="model.eMailAddr">
                                <mat-hint align="end">{{model.eMailAddr.length}} / 35</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                                <mat-form-field>
                                <input matInput type="text" placeholder="H&amp;G Book"
                                    maxLength="35" class="form-control" name="hgBook" 
                                    [(ngModel)]="model.hgBook" readonly="true">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                                <mat-form-field>
                                <input matInput type="text" placeholder="A&amp;R Book"
                                    maxLength="35" class="form-control" name="arBook" 
                                    [(ngModel)]="model.arBook" readonly="true">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput type="text" placeholder="M&amp;E Book"
                                    maxLength="35" class="form-control" name="meBook" 
                                    [(ngModel)]="model.meBook" readonly="true">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                
                <div class="container">        
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field>   
                                <mat-select placeholder="Member Type" name="memberType" [(ngModel)]="model.memberType">
                                    <mat-option *ngFor="let memberType of memberTypes" [value]="memberType.id" [(disabled)]="!isAdmin">
                                        {{memberType.description}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>   
                                <mat-select placeholder="Member Status" name="memberStatus" [(ngModel)]="model.memberStatus">
                                    <mat-option *ngFor="let memberStatus of memberStatuses" [value]="memberStatus.id" [(disabled)]="!isAdmin">
                                        {{memberStatus.description}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                
                <div class="container">        
                    <div class="row">
                        <div class="col-md-2">
                                <mat-form-field>
                                <input matInput type="number" placeholder="Last Dues Year"
                                    maxLength="35" class="form-control" name="lastDuesYear" 
                                    [(ngModel)]="model.lastDuesYear" [(readonly)]="!isAdmin">
                                </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field>
                                <input matInput type="number" placeholder="Member Since"
                                    maxLength="4" class="form-control" name="startYear" 
                                    [(ngModel)]="model.startYear" [(readonly)]="!isAdmin">
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field>
                                <input matInput name="anniversary" [matDatepicker]="anniversary" placeholder="Anniversary" 
                                    [(ngModel)]="model.anniversary" [(readonly)]="!isAdmin">
                                <mat-datepicker-toggle matSuffix [for]="anniversary" [hidden]="!isAdmin"></mat-datepicker-toggle>   
                                <mat-datepicker #anniversary></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field>
                                <input matInput name="paidThruDate" [matDatepicker]="paidThruDate" placeholder="Paid-Thru Date" 
                                    [(ngModel)]="model.paidThruDate" [(readonly)]="!isAdmin">
                                <mat-datepicker-toggle matSuffix [for]="paidThruDate" [hidden]="!isAdmin"></mat-datepicker-toggle>
                                <mat-datepicker #paidThruDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <br>        
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    <mat-dialog-actions>
        <br>
        <div class="container Custom-border">
            <br>
            <div class="row">
                <div class="col-12">
                    <div class="text-right">
                        <button mat-button type="submit" matTooltip="Save"><mat-icon>done</mat-icon></button>
                        <button mat-button type="button" matTooltip="Cancel" (click)="dialogRef.close()"><mat-icon>undo</mat-icon></button>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </mat-dialog-actions>
</form>
