.Custom-width {
    width: 100%;
    padding: 0;
}
.Custom-border {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #3C599F;
}
.Custom-margin {
    margin-top: 5px;
}
.Custom-margins {
    margin-left: 5px;
    margin-right: 5px;
}
.mat-card {
    margin-bottom: 0px;
}
.mat-dialog-container {
    overflow: hidden;
    width: 100%;
    padding: 0;
}
.mat-dialog-title {
    margin: 0;
}
.mat-dialog-actions {
    margin: 0;
    padding: 0;
}
.mat-header-row {
    -webkit-text-fill-color:white;
    background:royalblue;
}
.field-top-margin {
    margin-top: -22px;
}
