<h2>
    Cash Receipts - Check Register - U.S. Funds
</h2>

<p style="font-size:100%; font-weight:bold; margin: 10pt 0;">
    Batch # {{batchNo}}
</p>

<div>
<div style="border-top:2px solid black; margin-bottom:24pt">

    <div style="display:flex; font-size: 10pt; font-weight:bold; margin: 0 0 2pt 0; page-break-inside:avoid">
        <div style="width:80px">
            Tran Date
        </div>
        <div style="width:60px">
            No.
        </div>
        <div style="width:300px">
            Member
        </div>
        <div style="width:80px;">
            Check #
        </div>
        <div style="width:80px;">
            Date
        </div>
        <div style="width:80px; text-align:right; margin-right: 10px;">
            Amount
        </div>
        <div style="width:30px">
            CC
        </div>
    </div>

    <div *ngFor="let cashMaster of cashMasters">
        <div style="display: flex; font-size: 8pt; margin: 0 0 0 0; page-break-inside:avoid">

            <div style="width:80px">
                {{ cashMaster?.transDate |  date:'MM/dd/yy' }}
            </div>
            <div style="width:60px">
                {{ cashMaster?.memberNo }}
            </div>
            <div style="width:300px">
                {{ find(cashMaster?.memberNo)?.memberName }} 
            </div>
            <div style="width:80px">
                {{ cashMaster?.checkNo }}
            </div>
            <div style="width:80px">
                {{ cashMaster?.checkDate | date:'MM/dd/yy' }}
            </div>
            <div style="width:80px; text-align:right; margin-right: 10px;">
                {{ cashMaster?.checkAmt | currency }}
            </div>
            <div style="width:30px">
                {{ cashMaster?.currencyCode }}
            </div>
        </div>

        <div style="display: flex; font-size: 8pt; margin: 0 0 2pt 0; page-break-inside:avoid">
            <div style="width:300px; margin-left:140px">
                <p>
                    {{ find(cashMaster?.memberNo)?.addrLine1 }} <br *ngIf="find(cashMaster?.memberNo)?.addrLine1.length > 0">
                    {{ find(cashMaster?.memberNo)?.addrLine2 }} <br *ngIf="find(cashMaster?.memberNo)?.addrLine2.length > 0">
                    {{ find(cashMaster?.memberNo)?.city }}, {{ find(cashMaster?.memberNo)?.state }} {{ find(cashMaster?.memberNo)?.zip }}
                </p>
            </div>
            <div style="width:270px">
                {{ cashMaster?.comments }}
            </div>
        </div>    
    </div>

    <div style="display: flex; font-size: 8pt; margin: 0 0 0 500px; page-break-inside:avoid">
        <div style="width: 100px">
            Report Total: 
        </div>
        <div style="border-top:2px solid black; width: 80px; text-align:right; margin-right: 5px;">
            {{getBatchTotal() | currency}}
        </div>
    </div>
</div>