.mat-form-field {
    width: 75%;
  }
.floating-fab {
    position: absolute;
    right: 25px;
    top: 25px;
    outline: none;
    border: 0;
} 
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 600px;
}
.mat-table {
    overflow: auto;
    max-height: 600px;
}
.mat-header-row {
    -webkit-text-fill-color:white;
    background:royalblue;
}
.mat-column-menuId {
    max-width: 75px;
}
.Custom-table-width {
    padding-left: 0;
    padding-right: 0;
}