<div class="container main-container" >
    <!--Card-->
    <mat-card>
        <form #formData="ngForm" (ngSubmit)="onSubmit()">
            <textarea #welcomeEditor [froalaEditor]="options" name="welcomeContent" [(ngModel)]="model.welcomeContent"></textarea>
            <br>
            <br>
            <div class="modal-footer">
                <button mat-button type="submit"matTooltip="Save"><mat-icon>done</mat-icon></button>
                <button mat-button matTooltip="Cancel" (click)="resetForm()"><mat-icon>undo</mat-icon></button>
            </div>
        </form>
    </mat-card>
</div>
