confirm-button-default .dark-modal .modal-content {
    background-color: black;
    color: white;
  }
  .Custom-width {
    width: 100%;
    padding: 0;
  }
  .Custom-border {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #3C599F;
  }
  .Custom-margin {
    margin-top: 5px;
  }
  .Custom-margins {
    margin-left: 5px;
    margin-right: 5px;
  }
  .cus-margin-top {
    margin-top: 5px;
    padding-left: 5px;
  }
  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  .mat-table {
    overflow: auto;
    max-height: 300px;
  }
  .mat-header-row {
    -webkit-text-fill-color:white;
    background:royalblue;
  }
  .field-top-margin {
    margin-top: -22px;
  }
  .example-headers-align .mat-expansion-panel-header-title, 
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  .floating-fab2 {
    position: absolute;
    right: 45px;
    top: 177px;
    outline: none;
    border: 0;
  }
  .Custom-table-width {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .mat-dialog-container {
    padding: 0;
  }
  .mat-card {
    margin-bottom: 0px;
  }
  /* .floating-total {
    position: absolute;
    left: 352px;
    bottom: 198px;
    outline: none;
    border: 0;
    z-index: 2;
  }
  .floating-total-warning {
    position: absolute;
    left: 50px;
    bottom: 198px;
    outline: none;
    border: 0;
    z-index: 2;
  } */
  .mat-column-tranCode {
    max-width: 75px;
  }
  .mat-column-description {
    min-width: 200px;
    max-width: 300px;
  }
  .mat-column-distQty {
    max-width: 75px;
    text-align: right;
  }
  .mat-column-distAmt {
    max-width: 100px;
    text-align: right;
    margin-right: 50px;
  }
  .mat-column-duesCode {
    max-width: 100px;
  }
  .mat-column-duesYear {
    max-width: 75px;
  }
  