<div class="container Custom-width">
    <mat-card class="Custom-width">
        <mat-card-content>

            <div class="container">                        

                <form #form="ngForm" (ngSubmit)="onSubmit(form.valid)">
                    <!-- form body -->
                    <br>
                    <mat-accordion class="example-headers-align">
                        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
                            <mat-expansion-panel-header>
                            <mat-panel-title>
                                Member data
                            </mat-panel-title>
                            <mat-panel-description>
                                Enter member #
                                <mat-icon>account_circle</mat-icon>
                            </mat-panel-description>
                            </mat-expansion-panel-header>
                        
                            <div class="container">                                                
                                <div class="row">
                                    <div class="col-md-2">
                                        <mat-form-field class="custom-margin">
                                            <input type="text" placeholder="Member No" matInput 
                                                name="memberNo" [matAutocomplete]="auto" [(ngModel)]="model.memberNo"
                                                (ngModelChange)="onMemberNoChange($event)" required readonly>
                                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"  panelWidth="500px">
                                                <mat-option *ngFor="let member of members | filter : 'memberNo' : model.memberNo" [value]="member.memberNo">
                                                    <div class="row">
                                                        <div class="col-1">
                                                            {{member.memberNo}}
                                                        </div>
                                                        <div class="col-11">
                                                            {{member.memberName}}
                                                        </div>
                                                    </div>
                                                    </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                            <input matInput type="text" placeholder="Name" readonly 
                                                name="memberName" [(ngModel)]="selectedMember.memberName">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                                
                            <div class="container">                                                
                                <div class="row">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                            <input matInput type="text" placeholder="Address 1" readonly 
                                                name="addrLine1" [(ngModel)]="selectedMember.addrLine1">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
            
                            <div class="container">                                                
                                <div class="row">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                            <input matInput type="text" placeholder="Address 2" readonly 
                                                name="addrLine2" [(ngModel)]="selectedMember.addrLine2">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                
                            <div class="container">                                                
                                <div class="row">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput type="text" placeholder="City" readonly 
                                                name="city" [(ngModel)]="selectedMember.city">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <input matInput type="text" placeholder="State" readonly 
                                                name="state" [(ngModel)]="selectedMember.state">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput type="text" placeholder="Zip" readonly 
                                                name="zip" [(ngModel)]="selectedMember.zip">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                                    
                            <mat-action-row>
                            <button mat-button type="button" color="primary" (click)="nextStep()">Next</button>
                            </mat-action-row>
                        </mat-expansion-panel>
                        
                        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
                            <mat-expansion-panel-header>
                            <mat-panel-title>
                                Payment
                            </mat-panel-title>
                            <mat-panel-description>
                                Enter payment information
                                <mat-icon>payment</mat-icon>
                            </mat-panel-description>
                            </mat-expansion-panel-header>
                        
                            <div class="container">                                                
                                <div class="row">
                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <input matInput type="text" placeholder="Check #"  
                                                name="checkNo" [(ngModel)]="model.checkNo">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker" placeholder="Check Date"
                                                name="checkDate" [(ngModel)]="model.checkDate">
                                            <mat-datepicker-toggle matSuffix [for]="picker" tabindex=-1></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                </div>
                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <input matInput type="number" placeholder="Check Amt" 
                                                name="checkAmt" [(ngModel)]="model.checkAmt" (ngModelChange)="onCheckAmtChange()" readonly>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                            <mat-form-field class="example-full-width">
                                                <input matInput type="text" placeholder="Currency Code" 
                                                    name="currencyCode" [(ngModel)]="model.currencyCode">
                                            </mat-form-field>
                                        </div>
                                    </div>
                            </div>
                            
                            <div class="container">                                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput type="text" placeholder="Comments" 
                                                name="comments" [(ngModel)]="model.comments" maxlength="100">
                                                <mat-hint align="end">{{model.comments?.length}} / 100</mat-hint>
                                            </mat-form-field>
                                    </div>
                                </div>
                            </div>
                                
                            <mat-action-row>
                            <button mat-button type="button" color="primary" (click)="prevStep()">Previous</button>
                            <button mat-button type="button" color="primary" (click)="nextStep()">Next</button>
                            </mat-action-row>
                        </mat-expansion-panel>
                        
                        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
                            <mat-expansion-panel-header>
                            <mat-panel-title>
                                Line Items
                            </mat-panel-title>
                            <mat-panel-description>
                                Enter line item information
                                <mat-icon>list</mat-icon>
                            </mat-panel-description>
                            </mat-expansion-panel-header>
                        
                            <div class="container Custom-table-width">

                                <div class="row">
                                    <div class="col-2">
                                        <h6>Check Amt: {{model.checkAmt | currency}}</h6>
                                    </div>
                                    <div class="col-2">
                                        <h6>Remaining: {{remaining | currency}}</h6>
                                    </div>
                                    <div class="col-6 floating-total-warning callout" *ngIf="(remaining != 0)">
                                        <h6>Total not equal to check amount</h6>
                                    </div>
                                </div>

                                <div class="example-container mat-elevation-z8">
                                    <mat-table #table [dataSource]="dataSource">
                                    
                                        <ng-container matColumnDef="tranCode">
                                            <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.tranCode}} </mat-cell>
                                        </ng-container>
                                        
                                        <ng-container matColumnDef="description">
                                            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                                            <mat-cell *matCellDef="let element">  {{find(element.tranCode)?.description}} </mat-cell>
                                        </ng-container>
                                    
                                        <ng-container matColumnDef="distQty">
                                            <mat-header-cell *matHeaderCellDef> Qty </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.distQty}} </mat-cell>
                                        </ng-container>
                                    
                                        <ng-container matColumnDef="distAmt">
                                            <mat-header-cell *matHeaderCellDef> Amt </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.distAmt | currency}} </mat-cell>
                                        </ng-container>
                                        
                                        <ng-container matColumnDef="duesCode">
                                            <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.duesCode}} </mat-cell>
                                        </ng-container>
                                        
                                        <ng-container matColumnDef="duesYear">
                                            <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.duesYear != '0' ? element.duesYear : ''}} </mat-cell>
                                        </ng-container>
                                        
                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let element; columns: displayedColumns;" (click)="edit(element)"></mat-row>
                                    </mat-table>
                
                                    <mat-paginator #paginator
                                        [pageSize]="10"
                                        [pageSizeOptions]="[5, 10, 20]">
                                    </mat-paginator>
                                </div>
                            </div>
                                            
                            <mat-action-row>
                                <button mat-button type="button" color="primary" (click)="prevStep()">Previous</button>
                                <button mat-button type="button" color="primary" (click)="nextStep()">End</button>
                            </mat-action-row>
                        </mat-expansion-panel>
                        
                    </mat-accordion>
                        
                    <!-- form body end -->

                    <br>
                    <div class="container Custom-border">
                        <br>
                        <div class="row">
                            <div class="col-6">
                                <div *ngIf="selectedTabIndex==2" class="field-top-margin">
                                    <mat-form-field>
                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" [(value)]="searchText">
                                    </mat-form-field>                                        
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-right Custom-margin">
                                    <button mat-button type="submit" matTooltip="Save"><mat-icon>done</mat-icon></button>
                                    <button mat-button type="button" matTooltip="Cancel" (click)="dialogRef.close()"><mat-icon>undo</mat-icon></button>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>
