<h3 mat-dialog-title class="modal-header"><mat-icon matPrefix>person</mat-icon> Member</h3>
<form #formData="ngForm" (ngSubmit)="onSubmit(formData.valid)">
    <mat-dialog-content>
        <mat-tab-group [(selectedIndex)]="selectedTabIndex" dynamicHeight="false" class="modal-tab-group">
            <mat-tab label="Address">

                <!-- form body -->
                <div class="container">                                                
                    <div class="row">
                        <div class="col-md-2">
                            <mat-form-field>   
                                <mat-select placeholder="Mr/Mrs/Ms/Dr" name="salutation" [(ngModel)]="model.salutation">
                                    <mat-option *ngFor="let salutation of salutations" [value]="salutation.value">
                                        {{salutation.viewValue}}
                                    </mat-option>
                                </mat-select>
                        </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <input-custom fieldType="uppercase" fieldName="memberName" placeholderText="Member Name" maxLength="35"
                                [model]="model" [value]="model.memberName" [isRequired]="true" errorMessage="Member Name is required">
                            </input-custom>
                        </div>
                    </div>
                </div>

                <div class="container">                                                
                    <div class="row">
                        <div class="col-md-6">
                            <input-custom fieldType="uppercase" fieldName="addrLine1" placeholderText="Address Line 1" maxLength="35"
                                [model]="model" [value]="model.addrLine1" [isRequired]="true" errorMessage="Address Line 1 is required">
                            </input-custom>
                        </div>
                    </div>
                </div>

                <div class="container">                                                
                    <div class="row">
                        <div class="col-md-6">
                            <input-custom fieldType="uppercase" fieldName="addrLine2" placeholderText="Address Line 2" maxLength="35"
                                [model]="model" [value]="model.addrLine2" [isRequired]="false" errorMessage="">
                            </input-custom>
                        </div>
                    </div>
                </div>

                <div class="container">                                                
                    <div class="row">
                        <div class="col-md-5">
                            <input-custom fieldType="uppercase" fieldName="city" placeholderText="City" maxLength="25"
                                [model]="model" [value]="model.city" [isRequired]="true" errorMessage="City is required">
                            </input-custom>
                        </div>
                        <div class="col-md-1">
                            <input-custom fieldType="uppercase" fieldName="state" placeholderText="State" maxLength="2"
                                [model]="model" [value]="model.state" [isRequired]="true" errorMessage="State is required">
                            </input-custom>
                        </div>
                        <div class="col-md-2">
                            <input-custom fieldType="uppercase" fieldName="zip" placeholderText="Postal Code" maxLength="9"
                                [model]="model" [value]="model.zip" [isRequired]="true" errorMessage="Postal Code is required">
                            </input-custom>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Country" name="Country" [(ngModel)]="model.country">
                                    <mat-option *ngFor="let country of countries" [value]="country.name | uppercase">
                                        {{country.name | uppercase}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="container">                                                
                    <div class="row">
                        <div class="col-md-4">
                            <input-custom fieldType="phone" fieldName="phone" placeholderText="Telephone" maxLength="25"
                                [model]="model" [value]="model.phone" [isRequired]="false" errorMessage="">
                            </input-custom>
                        </div>
                        <div class="col-md-4">
                            <input-custom fieldType="phone" fieldName="fax" placeholderText="Fax" maxLength="25"
                                [model]="model" [value]="model.fax" [isRequired]="false" errorMessage="">
                            </input-custom>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Membership">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <input-custom fieldType="camelcase" fieldName="annualName" placeholderText="Annual Name" maxLength="50"
                                [model]="model" [value]="model.annualName" [isRequired]="true" errorMessage="Annual Name is required">
                            </input-custom>
                        </div>
                        <div class="col-md-6">
                            <input-custom fieldType="uppercase" fieldName="sortName" placeholderText="Sort Name" maxLength="35"
                                [model]="model" [value]="model.sortName" [isRequired]="true" errorMessage="Sort Name is required">
                            </input-custom>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <input-custom fieldType="text" fieldName="memberNo" placeholderText="Member #" maxLength="35"
                                [model]="model" [value]="model.memberNo" [isRequired]="true" errorMessage="Member # is required">
                            </input-custom>
                        </div>
                        <div class="col-md-3">
                            <input-custom fieldType="text" fieldName="oldMemberNo" placeholderText="Old Member #" maxLength="35"
                                [model]="model" [value]="model.oldMemberNo" [isRequired]="false" errorMessage="">
                            </input-custom>
                        </div>
                        <div class="col-md-6">
                            <input-custom fieldType="email" fieldName="eMailAddr" placeholderText="E-Mail" maxLength="35"
                                [model]="model" [value]="model.eMailAddr" [isRequired]="false" errorMessage="">
                            </input-custom>
                        </div>
                    </div>
                </div>
            
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <input-custom fieldType="text" fieldName="hgBook" placeholderText="H&amp;G Book" maxLength="35"
                                [model]="model" [value]="model.hgBook" [isRequired]="false" errorMessage="">
                            </input-custom>
                        </div>
                        <div class="col-md-3">
                            <input-custom fieldType="text" fieldName="arBook" placeholderText="A&amp;R Book" maxLength="35"
                                [model]="model" [value]="model.arBook" [isRequired]="false" errorMessage="">
                            </input-custom>
                        </div>
                        <div class="col-md-3">
                            <input-custom fieldType="text" fieldName="meBook" placeholderText="M&amp;E Book" maxLength="35"
                                [model]="model" [value]="model.meBook" [isRequired]="false" errorMessage="">
                            </input-custom>
                        </div>
                    </div>
                </div>
                
                <div class="container">        
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field>   
                                <mat-select placeholder="Member Type" name="memberType" [(ngModel)]="model.memberType">
                                    <mat-option *ngFor="let memberType of memberTypes" [value]="memberType.id">
                                        {{memberType.description}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>   
                                <mat-select placeholder="Member Status" name="memberStatus" [(ngModel)]="model.memberStatus">
                                    <mat-option *ngFor="let memberStatus of memberStatuses" [value]="memberStatus.id">
                                        {{memberStatus.description}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <input-custom fieldType="text" fieldName="comments" placeholderText="Comments" maxLength="35"
                                [model]="model" [value]="model.comments" [isRequired]="false" errorMessage="">
                            </input-custom>
                        </div>
                    </div>
                </div>
                
                <div class="container">        
                    <div class="row">
                        <div class="col-md-2">
                            <mat-form-field>
                                <input matInput type="number" placeholder="Last Dues Year"
                                    maxLength="4" class="form-control" name="lastDuesYear" 
                                    [(ngModel)]="model.lastDuesYear">
                            </mat-form-field>
                        </div>                                    
                        <div class="col-md-2">
                            <mat-form-field>
                                <input matInput type="number" placeholder="Start Year"
                                    maxLength="4" class="form-control" name="startYear" 
                                    [(ngModel)]="model.startYear">
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field>
                                <input matInput name="anniversary" [matDatepicker]="anniversary" placeholder="Anniversary" [(ngModel)]="model.anniversary">
                                <mat-datepicker-toggle matSuffix [for]="anniversary"></mat-datepicker-toggle>
                                <mat-datepicker #anniversary></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field>
                                <input matInput name="paidThruDate" [matDatepicker]="paidThruDate" placeholder="Paid-Thru Date" [(ngModel)]="model.paidThruDate">
                                <mat-datepicker-toggle matSuffix [for]="anniversary"></mat-datepicker-toggle>
                                <mat-datepicker #anniversary></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>        
            </mat-tab>

            <mat-tab label="Miscellanous">
                <div class="container">        
                    <div class="row">
                        <div class="col-md-2">
                            <div>
                                <label class="custom-checkbox-label">Alt Address</label><br>
                                <mat-checkbox color="primary" name="isAlternateAddress" [(ngModel)]="model.isAlternateAddress"></mat-checkbox>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input-custom fieldType="text" fieldName="giftFromMember" placeholderText="Gift From Member #" maxLength="35"
                                [model]="model" [value]="model.giftFromMember" [isRequired]="false" errorMessage="">
                            </input-custom>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <label class="custom-checkbox-label">Cert Printed</label><br>
                                <mat-checkbox color="primary" name="printCertification" [(ngModel)]="model.printCertification"></mat-checkbox>
                            </div>
                        </div>
                        <div class="col-md-2">
                                <input-custom fieldType="text" fieldName="certificationDate" placeholderText="Cert Date" maxLength="4"
                                [model]="model" [value]="model.certificationDate" [isRequired]="false" errorMessage="">
                            </input-custom>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>        
                <br>
                <br>
                <br>
                <br>        
                <br>
                <br>
                <br>
                <br>        
            </mat-tab>

        </mat-tab-group>
    </mat-dialog-content>
    <mat-dialog-actions>
        <br>
        <div class="container Custom-border">
            <br>
            <div class="row">
                <div class="col-12">
                    <div class="text-right">
                        <button mat-button type="submit" matTooltip="Save"><mat-icon>done</mat-icon></button>
                        <confirm-button-default [message]="'Delete this item ?'" [isValid]="true" (onClosing)="onDelete($event)"></confirm-button-default>
                        <button mat-button type="button" matTooltip="Cancel" (click)="dialogRef.close()"><mat-icon>undo</mat-icon></button>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </mat-dialog-actions>
</form>
